/* Base hero section styles */
.hero {
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  background: linear-gradient(var(--gradient-one));
  width: 100%;
  min-height: 100vh;
}

/* Background pattern (hidden by default) */
.hero__bg-pattern {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* Logo styles */
.hero__logo {
  display: block;
  margin: 1.9375rem 2rem 2rem 2rem;
  height: 1.3125rem;
  width: 6.284375rem;
}

/* Hero image styles */
.hero__image {
  background-image: url("../images/hero-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 15.625rem;
}

/* Header styles */
.hero__header {
  position: relative;
  color: var(--desaturated-red);
  text-align: center;
  padding: 4rem 2rem;
  overflow: hidden;
}

/* Title styles */
.hero__title {
  font-size: 2.5rem;
  font-weight: var(--bold);
  color: var(--dark-grayish-red);
  letter-spacing: 0.671875rem;
  line-height: 1.05;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}

.hero__title > .u-font-light {
  color: var(--desaturated-red);
}

/* Description styles */
.hero__description {
  letter-spacing: 0.025rem;
  line-height: 1.7;
  margin-bottom: 2.0625rem;
}

/* Form wrapper styles */
.hero__form-wrapper {
  position: relative;
  border: 0.0625rem solid var(--desaturated-red);
  height: 3rem;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}

.hero__form-wrapper:has(.hero__input--invalid)  {
  border-color: var(--soft-red);
  border-width: 0.125rem;
}

.hero__form-wrapper:has(.hero__input--invalid) 
.hero__submit-button::before {
  position: absolute;
  left: -2.125rem;
  content: url("../images/icon-error.svg");
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}

/* Input styles */
.hero__input {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 0 0 1.5625rem;
  width: 65%;
  outline: none;
  color: var(--dark-grayish-red);
  font-size: 0.875rem;
  letter-spacing: 0.0364583333125rem;
}

.hero__input::placeholder {
  color: var(--desaturated-red);
}

/* Submit button styles */
.hero__submit-button {
  display: block;
  position: absolute;
  right: -0.125rem;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(var(--gradient-two));
  width: 4rem;
  height: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem hsla(0, 93%, 68%, 0.3);
  cursor: pointer;
  transition: 
    background 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.hero__submit-button:hover,
.hero__submit-button:focus {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
  box-shadow: 0 0.75rem 1rem hsla(0, 93%, 68%, 0.5);
}

/* Error message styles */
.hero__form-error-message {
  font-size: 0.8125rem;
  color: var(--soft-red);
  text-align: left;
  margin-left: 1.5625rem;
}

.hero__form-error-message--hidden {
  opacity: 0;
  pointer-events: none;
}

/* Small screen adjustments */
@media (max-width: 374px) {
  .hero__input {
    width: 60%;
  }
}

/* Larger mobile screen adjustments */
@media (min-width: 400px) and (max-width: 949px) {
  .hero__image {
    background-position: top;
    height: 31.25rem;
  }
}

@media (min-width: 400px) {
  .hero__logo {
    width: 9.875rem;
    height: 2.0625rem;
  }
}

/* Medium screen adjustments */
@media (min-width: 600px) {
  .hero__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 12.875vh 15.34722222222222vw 0 11.45833333333333vw;
  }

  .hero__title {
    font-size: 4rem;
    letter-spacing: 1.0625rem;
    line-height: 1.075;
    margin-bottom: 1.225rem;
  }

  .hero__description {
    letter-spacing: 0;
    line-height: 1.75;
    margin-left: 0.0625rem;
    margin-bottom: 2.5rem;
  }

  .hero__form-wrapper {
    height: 3.5rem;
  }

  .hero__input {
    font-size: 1.0625rem;
    letter-spacing: -0.0114583333333333rem;
  }

  .hero__submit-button {
    height: 3.5rem;
    width: 6.25rem;
  }
  
  .hero__form-wrapper:has(.hero__input--invalid) 
  .hero__submit-button::before {
    left: -2.5rem;
  }

  .hero__form-error-message {
    margin-left: 2rem;
  }
}

/* Large screen adjustments */
@media (min-width: 950px) {
  .hero {
    font-size: 1rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hero__logo {
    position: absolute;
    top: 4.0625rem;
    left: 11.45833333333333vw;
    margin: 0;
    z-index: 100;
  }

  .hero__bg-pattern {
    display: block;
    z-index: 1;
  }

  .hero__image {
    background-image: url("../images/hero-desktop.jpg");
    height: 100vh;
    width: 42.36111111111111%;
  }

  .hero__header {
    text-align: left;
  }

  .hero__header > *:not(.hero__bg-pattern) {
    position: relative;
    z-index: 2;
  }
}

/* Specific screen height adjustments */
@media (max-height: 650px) and (min-width: 1200px) {
  .hero__logo {
    top: 2.8125rem;
  }
}

/* Medium to large screen adjustments */
@media (min-width: 950px) and (max-width: 1335px)  {
  .hero__header {
    padding: 12.875vh 7.34722222222222vw 0 11.45833333333333vw;
  }
}