.u-font-light {
  font-weight: var(--light-bold);
}

.u-border-none {
  border: none;
}

.u-bg-none {
  background: none;
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
  border: 0;
}